In [1]:
# import necessary libraries
import requests
import pandas as pd
from io import StringIO

In [2]:
# URL of the dataset
url = "https://data.humdata.org/dataset/dc663585-4b6f-46ae-a6d6-b2f3e4ea32b5/resource/3b1ff071-6b01-4998-aa62-2f3efb5d4888/download/wfp_food_prices_ind.csv"

In [3]:
# Send a GET request to fetch the raw CSV content
response = requests.get(url)

In [4]:
# Check if the request was successful
if response.status_code == 200:
    # Use StringIO to load the CSV data into pandas
    csv_data = StringIO(response.text)
    df = pd.read_csv(csv_data)
    print("Data successfully loaded into DataFrame")
else:
    print(f"Failed to retrieve data. Status code: {response.status_code}")

Data successfully loaded into DataFrame

C:\Users\Ajay Manshani\AppData\Local\Temp\ipykernel_13676\2540956528.py:5: DtypeWarning: Columns (4,5,12,13) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(csv_data)

In [5]:
df

,date,admin1,admin2,market,latitude,longitude,category,commodity,unit,priceflag,pricetype,currency,price,usdprice
0,#date,#adm1+name,#adm2+name,#loc+market+name,#geo+lat,#geo+lon,#item+type,#item+name,#item+unit,#item+price+flag,#item+price+type,#currency,#value,#value+usd
1,1994-01-15,Delhi,Delhi,Delhi,28.666667,77.216667,cereals and tubers,Rice,KG,actual,Retail,INR,8.0,0.255
2,1994-01-15,Delhi,Delhi,Delhi,28.666667,77.216667,cereals and tubers,Wheat,KG,actual,Retail,INR,5.0,0.1594
3,1994-01-15,Delhi,Delhi,Delhi,28.666667,77.216667,oil and fats,Oil (mustard),KG,actual,Retail,INR,31.0,0.988
4,1994-01-15,Gujarat,Ahmadabad,Ahmedabad,23.033333,72.616667,cereals and tubers,Rice,KG,actual,Retail,INR,6.8,0.2167
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
167824,2024-10-15,Rajasthan,Jaipur,North Zone,26.938848,75.800056,oil and fats,Oil (sunflower),KG,actual,Retail,INR,146.26,1.7395
167825,2024-10-15,Rajasthan,Jaipur,North Zone,26.938848,75.800056,pulses and nuts,Lentils,KG,actual,Retail,INR,160.16,1.9049
167826,2024-10-15,Rajasthan,Jaipur,North Zone,26.938848,75.800056,pulses and nuts,Lentils (masur),KG,actual,Retail,INR,89.6,1.0657
167827,2024-10-15,Rajasthan,Jaipur,North Zone,26.938848,75.800056,vegetables and fruits,Onions,KG,actual,Retail,INR,53.86,0.6406
167828,2024-10-15,Rajasthan,Jaipur,North Zone,26.938848,75.800056,vegetables and fruits,Tomatoes,KG,actual,Retail,INR,68.76,0.8178

## Data Preparation

In [7]:
# 0th row contains some unwanted data. Hence we remove that row.
df=df[1:][:]
df

,date,admin1,admin2,market,latitude,longitude,category,commodity,unit,priceflag,pricetype,currency,price,usdprice
1,1994-01-15,Delhi,Delhi,Delhi,28.666667,77.216667,cereals and tubers,Rice,KG,actual,Retail,INR,8.0,0.255
2,1994-01-15,Delhi,Delhi,Delhi,28.666667,77.216667,cereals and tubers,Wheat,KG,actual,Retail,INR,5.0,0.1594
3,1994-01-15,Delhi,Delhi,Delhi,28.666667,77.216667,oil and fats,Oil (mustard),KG,actual,Retail,INR,31.0,0.988
4,1994-01-15,Gujarat,Ahmadabad,Ahmedabad,23.033333,72.616667,cereals and tubers,Rice,KG,actual,Retail,INR,6.8,0.2167
5,1994-01-15,Gujarat,Ahmadabad,Ahmedabad,23.033333,72.616667,miscellaneous food,Sugar,KG,actual,Retail,INR,13.5,0.4303
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
167824,2024-10-15,Rajasthan,Jaipur,North Zone,26.938848,75.800056,oil and fats,Oil (sunflower),KG,actual,Retail,INR,146.26,1.7395
167825,2024-10-15,Rajasthan,Jaipur,North Zone,26.938848,75.800056,pulses and nuts,Lentils,KG,actual,Retail,INR,160.16,1.9049
167826,2024-10-15,Rajasthan,Jaipur,North Zone,26.938848,75.800056,pulses and nuts,Lentils (masur),KG,actual,Retail,INR,89.6,1.0657
167827,2024-10-15,Rajasthan,Jaipur,North Zone,26.938848,75.800056,vegetables and fruits,Onions,KG,actual,Retail,INR,53.86,0.6406
167828,2024-10-15,Rajasthan,Jaipur,North Zone,26.938848,75.800056,vegetables and fruits,Tomatoes,KG,actual,Retail,INR,68.76,0.8178

In [8]:
# removing the records with missing values, as the model can go wrong with the presence of missing values 
df=df.dropna()
df.reset_index(drop=True, inplace=True)

In [9]:
# Removing the price type, currency and usdprice columns as they are not related to the study
df = df.drop(['pricetype', 'currency', 'usdprice'], axis=1, errors='ignore')
df

,date,admin1,admin2,market,latitude,longitude,category,commodity,unit,priceflag,price
0,1994-01-15,Delhi,Delhi,Delhi,28.666667,77.216667,cereals and tubers,Rice,KG,actual,8.0
1,1994-01-15,Delhi,Delhi,Delhi,28.666667,77.216667,cereals and tubers,Wheat,KG,actual,5.0
2,1994-01-15,Delhi,Delhi,Delhi,28.666667,77.216667,oil and fats,Oil (mustard),KG,actual,31.0
3,1994-01-15,Gujarat,Ahmadabad,Ahmedabad,23.033333,72.616667,cereals and tubers,Rice,KG,actual,6.8
4,1994-01-15,Gujarat,Ahmadabad,Ahmedabad,23.033333,72.616667,miscellaneous food,Sugar,KG,actual,13.5
...,...,...,...,...,...,...,...,...,...,...,...
167193,2024-10-15,Rajasthan,Jaipur,North Zone,26.938848,75.800056,oil and fats,Oil (sunflower),KG,actual,146.26
167194,2024-10-15,Rajasthan,Jaipur,North Zone,26.938848,75.800056,pulses and nuts,Lentils,KG,actual,160.16
167195,2024-10-15,Rajasthan,Jaipur,North Zone,26.938848,75.800056,pulses and nuts,Lentils (masur),KG,actual,89.6
167196,2024-10-15,Rajasthan,Jaipur,North Zone,26.938848,75.800056,vegetables and fruits,Onions,KG,actual,53.86
167197,2024-10-15,Rajasthan,Jaipur,North Zone,26.938848,75.800056,vegetables and fruits,Tomatoes,KG,actual,68.76

In [10]:
# Renaming the fields
df=df.rename({'admin1': 'state', 'admin2': 'district'}, axis=1) 
df

,date,state,district,market,latitude,longitude,category,commodity,unit,priceflag,price
0,1994-01-15,Delhi,Delhi,Delhi,28.666667,77.216667,cereals and tubers,Rice,KG,actual,8.0
1,1994-01-15,Delhi,Delhi,Delhi,28.666667,77.216667,cereals and tubers,Wheat,KG,actual,5.0
2,1994-01-15,Delhi,Delhi,Delhi,28.666667,77.216667,oil and fats,Oil (mustard),KG,actual,31.0
3,1994-01-15,Gujarat,Ahmadabad,Ahmedabad,23.033333,72.616667,cereals and tubers,Rice,KG,actual,6.8
4,1994-01-15,Gujarat,Ahmadabad,Ahmedabad,23.033333,72.616667,miscellaneous food,Sugar,KG,actual,13.5
...,...,...,...,...,...,...,...,...,...,...,...
167193,2024-10-15,Rajasthan,Jaipur,North Zone,26.938848,75.800056,oil and fats,Oil (sunflower),KG,actual,146.26
167194,2024-10-15,Rajasthan,Jaipur,North Zone,26.938848,75.800056,pulses and nuts,Lentils,KG,actual,160.16
167195,2024-10-15,Rajasthan,Jaipur,North Zone,26.938848,75.800056,pulses and nuts,Lentils (masur),KG,actual,89.6
167196,2024-10-15,Rajasthan,Jaipur,North Zone,26.938848,75.800056,vegetables and fruits,Onions,KG,actual,53.86
167197,2024-10-15,Rajasthan,Jaipur,North Zone,26.938848,75.800056,vegetables and fruits,Tomatoes,KG,actual,68.76

In [11]:
# extract year and month and add them as two separate fields. 
import numpy as np

size=len(df['date'])
year_arr=np.zeros((size,1))
month_arr=np.zeros((size,1))
i=0
for date in df['date']:
  darr=date.split('-')
  year_arr[i]=darr[0]
  month_arr[i]=darr[1]
  #print(darr[1])
  i+=1

df['year']=year_arr.astype(int)
df['month']=month_arr.astype(int)

df

,date,state,district,market,latitude,longitude,category,commodity,unit,priceflag,price,year,month
0,1994-01-15,Delhi,Delhi,Delhi,28.666667,77.216667,cereals and tubers,Rice,KG,actual,8.0,1994,1
1,1994-01-15,Delhi,Delhi,Delhi,28.666667,77.216667,cereals and tubers,Wheat,KG,actual,5.0,1994,1
2,1994-01-15,Delhi,Delhi,Delhi,28.666667,77.216667,oil and fats,Oil (mustard),KG,actual,31.0,1994,1
3,1994-01-15,Gujarat,Ahmadabad,Ahmedabad,23.033333,72.616667,cereals and tubers,Rice,KG,actual,6.8,1994,1
4,1994-01-15,Gujarat,Ahmadabad,Ahmedabad,23.033333,72.616667,miscellaneous food,Sugar,KG,actual,13.5,1994,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
167193,2024-10-15,Rajasthan,Jaipur,North Zone,26.938848,75.800056,oil and fats,Oil (sunflower),KG,actual,146.26,2024,10
167194,2024-10-15,Rajasthan,Jaipur,North Zone,26.938848,75.800056,pulses and nuts,Lentils,KG,actual,160.16,2024,10
167195,2024-10-15,Rajasthan,Jaipur,North Zone,26.938848,75.800056,pulses and nuts,Lentils (masur),KG,actual,89.6,2024,10
167196,2024-10-15,Rajasthan,Jaipur,North Zone,26.938848,75.800056,vegetables and fruits,Onions,KG,actual,53.86,2024,10
167197,2024-10-15,Rajasthan,Jaipur,North Zone,26.938848,75.800056,vegetables and fruits,Tomatoes,KG,actual,68.76,2024,10

In [12]:
unique_states = df['state'].unique()
unique_year = df['year'].unique()

In [13]:
unique_states

array(['Delhi', 'Gujarat', 'Himachal Pradesh', 'Karnataka',
       'Madhya Pradesh', 'Maharashtra', 'Orissa', 'Telangana', 'Tripura',
       'West Bengal', 'Meghalaya', 'Rajasthan', 'Tamil Nadu', 'Assam',
       'Kerala', 'Uttar Pradesh', 'Mizoram', 'Bihar', 'Chandigarh',
       'Jharkhand', 'Nagaland', 'Punjab', 'Uttarakhand', 'Andhra Pradesh',
       'Haryana', 'Andaman and Nicobar', 'Puducherry', 'Goa',
       'Chhattisgarh', 'Manipur', 'Sikkim'], dtype=object)

In [14]:
unique_year

array([1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004,
       2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015,
       2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024])

In [15]:
pip install mysql-connector-python sqlalchemy pandas

Requirement already satisfied: mysql-connector-python in c:\users\ajay manshani\anaconda3\lib\site-packages (9.1.0)
Requirement already satisfied: sqlalchemy in c:\users\ajay manshani\anaconda3\lib\site-packages (2.0.34)
Requirement already satisfied: pandas in c:\users\ajay manshani\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\ajay manshani\anaconda3\lib\site-packages (from sqlalchemy) (4.11.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\ajay manshani\anaconda3\lib\site-packages (from sqlalchemy) (3.0.1)
Requirement already satisfied: numpy>=1.26.0 in c:\users\ajay manshani\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\ajay manshani\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\ajay manshani\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\ajay manshani\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\ajay manshani\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [16]:
from sqlalchemy import create_engine

In [17]:
# MySQL connection string
username = 'root'      
password = 'PennePasta1224'  
host = 'localhost'     
database = 'food_data'

# Create engine
engine = create_engine(f'mysql+mysqlconnector://{username}:{password}@{host}/{database}')

In [18]:
# Write the DataFrame to a MySQL table
table_name = 'food_data_table'
df.to_sql(table_name, con=engine, if_exists='replace', index=False)

print(f"Data inserted into the table '{table_name}' in the database '{database}'.")

Data inserted into the table 'food_data_table' in the database 'food_data'.